body {
    font-family: sans-serif;
    background-color: #264653;
}

h1 {
    color: #E76F51;
    font-size: 40px;
}

p {
    color: #E9C46A;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #F4A261;
    font-size: 18px;
}